<%= provide(:title, "Questions") %>
<div class="container">
    <h1 class="h1 mt-5">Questions</h1>
    <div class="row d-flex justify-content-between">
    <%= link_to 'New Question', new_admin_question_path , class: "btn btn-outline-success mt-3 mb-3" %>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <th>Category</th>
                <th>Question content</th>
                <th>Actions</th>
            </thead>
            <tbody>
                  <% @questions.each do |question| %>
                  <tr>
                    <td><%= link_to question.category.name, admin_category_path(question.category) %></td>
                    <td style="width: 40rem;"><%= question.question_content %></td>
                    <td>
                      <%= link_to 'Show', admin_question_path(question),:class => "btn btn-outline-info" %>
                      <%= link_to 'Edit', edit_admin_question_path(question),:class => "btn btn-outline-warning" %>
                      <%= link_to 'Destroy', admin_question_path(question), method: :delete, data: { confirm: 'Are you sure?' },:class => "btn btn-outline-danger" %>
                    </td>
                  </tr>
                  <% end %>
            </tbody>
        </table>
    </div>
    </div>

    <div class="mt-5"><%= will_paginate @answers %></div>
</div>
