<%= provide(:title, "Learn words about #{@category.name}") %>
<% content_for :header do %>
  <script>
    // $(document).ready(function() {
    //   $('[id^=form_]')
    //   .bind('ajax:success', function(evt, data, status, xhr) {
    //     console.log(data);
    //   })
    //   .bind("ajax:error", function(evt, xhr, status, error) {
    //     //function called on status: 401 or 500 (for ex.)
    //     console.log(xhr.responseText);
    //   });
    // });
  </script>
<% end %>
<div class="container">
  <div class="row d-flex justity-content-center mt-5">
    <div class="col-sm-9 col-md-8">
      <h2 class="h2">Words List</h2>
      <div class="row">
            <% @words.each do |word| %>
        <div class="col-12">
          <div class="card mt-1">
            <div class="card-body">
              <div class="row d-flex">
                <div class="col-sm-6">
                  <h5 class="card-title text-info"><%= word.word %></h5> <p class="text-muted">- <%= Word.word_class_name(word.word_class) %></p>
                  <p><%= word.meaning %></p>
                </div>
                <div class="col-sm-6">
                  <% if word.image.attached? %>
                    <%= image_tag word.image.variant(resize: "500x500"), class: "card-img-top img-thumbnail" %>
                  <% end %>
                </div>
              </div>
                <%= form_with model: word, url: word_add_learnt_word_path, method: "post", remote: true, id: "form_#{word.id}"  do |f| %>
                  <%= hidden_field :word, :id, value: word.id %>
                  <% if current_user.words.include?(word) %>
                    <%= hidden_field :word, :option, value: "remove" %>
                    <%= submit_tag "Remove from list", class: "btn btn-danger", 'data-disable-with' => "Please wait.." %>
                  <% else %>
                    <%= hidden_field :word, :option, value: "add" %>
                    <%= submit_tag "Check as Learnt", class: "btn btn-success", 'data-disable-with' => "Please wait.." %>
                  <% end %>
                <% end %>
            </div>
          </div>
        </div>
      <% end %>
      </div>
    </div>
    <div class="col-sm-9 col-md-4">
        <h2 class="h2">My Words</h2>
        <div id="words-list">
        <% @words.each do |word| %>
          <% if current_user.words.include?(word) %>
          <p id="<%= "word_#{word.id}" %>"><%= word.word %></p>
          <% end %>
        <% end %>
        </div>
    </div>
  </div>
</div>