<p id="notice"><%= notice %></p>

<p>
  <strong>Word:</strong>
  <%= @word.word %>
</p>

<p>
  <strong>Meaning:</strong>
  <%= @word.meaning %>
</p>

<p>
  <strong>Word class:</strong>
  <%= @word.word_class %>
</p>

<p>
  <strong>Image:</strong>
  <% if @word.image.attached? %>
  <%= image_tag @word.image.variant(resize: "300x300") %>
  <%end%>
</p>

<%= link_to 'Edit', edit_word_path(@word) %> |
<%= link_to 'Back', words_path %>
