<%= form_with(model: user,url:admin_user_path, local: true) do |form| %>
    <% if user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(user.errors.count, "error") %> prohibited this test from being saved:</h2>
  
        <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
        <%= form.label :user_id %>
        <%= form.text_field :user_id, class:'form-control' %>
  
        <%= form.label :email %>
        <%= form.text_field :email, class:'form-control' %>
        
        <%= form.label :password %>
        <%= form.text_field :password, class:'form-control'%>
        <br/>
  
      <%= form.submit yield(:button_text), class: "btn btn-outline-primary" %>
  <% end %>
  