<%= form_with(model: test,url:admin_test_path, local: true) do |form| %>
    <% if test.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(test.errors.count, "error") %> prohibited this test from being saved:</h2>
  
        <ul>
        <% @test.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
        <%= form.label :test %>
        <%= form.text_field :test_id, class:'form-control' %>

        <%= form.label :category %>
        <%= form.text_field :category_id, class:'form-control'%>

        <%= form.label :score %>
        <%= form.text_field :score, class:'form-control'%>

        <%= form.label :created_at %>
        <%= form.text_field :create_at, class:'form-control'%>
        <br/>
  
      <%= form.submit yield(:button_text), class: "btn btn-outline-primary" %>
  <% end %>
  